.btn{
      border-radius: 50px;
      width: max-content;
}

.btn-primary{
      background: rgba(240, 45, 58, 0.7);
      border: 1px solid #F02D3A;
}

.btn-primary:hover{
      background: rgb(240, 45, 58);
      border: 1px solid #F02D3A;
}

.btn-secondary{
      background: rgba(97, 132, 216, 0.6);
      border: 1px solid #6184D8;
}
.btn-dark{
      background: black;
      opacity: 0.8;
      color:#E10108;
      font-family: sans-serif;
      font-weight: bolder;
      border: 2px solid black;
}

.btn-secondary:hover{
      background: rgba(97, 132, 216);
      border: 1px solid #6184D8;
}