#event-details-component {
    display: flex;
    width: 80%;
    margin: 0 auto;
    max-height: calc(100vh - 187px);
}

#event-details {
    position: relative;
    width: 60%;
    padding: 15px;
    background-color: #E5E6E4;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-size: 100% 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#event-image {
    width: 40%;
    overflow-y: auto;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#event-title {
    font-size: 36px;
    font-weight: 800;
    color: #161925;
    margin: 0;
}

#event-description {
    color: #484848;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 400;
}

#event-date-queries {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#event-date {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

#event-queries {
    font-size: 14px;
    display: flex;
    align-items: center;
}

#event-queries-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#button-holder {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 2px;
}

.round-rules {
    margin-top: 7px;
}

.round-rules ul {
    font-size: 15px !important;
    line-height: 20px !important;
    color: #484848;
}

.round-rules h5 {
    color: #161925;
    font-size: 22px;
}

.back-arrow {
    width: 80% !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    /* margin-left: 5% !important; */
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.back-arrow img {
    display: inline;
}

.back-arrow span {
    color: #ddc806;
}

.back-arrow a {
    color: var(--color-white) !important;
    text-decoration: none !important;
}

.back-arrow:hover span {
    color: #E20813 !important;
}

.back-arrow {
    margin-left: 5px;
}


/* responsive design for mobile,tablet devices */

@media screen and (max-width: 768px) {
    #event-details-component {
        width: 100%;
    }
    .back-arrow {
        width: 100%;
    }
    #event-details {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
    }
    #event-image {
        display: none;
    }
    #event-description {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #event-details-component {
        height: calc(100vh - 150px);
    }
    #event-description {
        font-size: 14px;
        line-height: 16px;
    }
    #event-title {
        font-size: 24px;
    }
    #event-details-component {
        font-size: 14px;
    }
    #event-image {
        display: none;
    }
}