@font-face {
    font-family: "Audiowide-Regular";
    src: url("Audiowide-Regular.ttf");

    /* font-family: "Quantico-Regular";
    src: url("Quantico-Regular.ttf");
    font-family: "RadioSpaceCondensed-Rapo";
    src: url("RadioSpaceCondensed-Rapo.otf"); */
    /* font-family: "Audiowide-Regular";
    src: url("Audiowide-Regular.ttf");
    font-family: "Audiowide-Regular";
    src: url("Audiowide-Regular.ttf"); */


}    